// Here you can add other styles
.btn-right{
    float: right;
}
.btn-top{
    margin-bottom: 15px;
}
.btn-width{
    width: 10%;
}
.btn-yellow{
    background-color: #FFC107;
    border: 1px solid #FFC107;
}
.btn-pink{
    background-color: #F86C6B;
    border: 1px solid #F86C6B;
}
.btn-blue{
    background-color: #63C2DE;
    border: 1px solid #63C2DE;
}
.texr-white{
    color: #fff;
}
.blue{
    color:#20a8d8;
}
.btn-submit{
    width: 100%;
    margin-bottom: 2%;
}